<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">ATutor MultiSite Manager</name> 
    <description lang="en">Intended for ATutor 2.2+. This module is used to create and manage ATutor subsites. A single ATutor codebase can be used to run any number of independent ATutor sites as fully independent domains. This module can only be installed on an ATutor main site of a multisite installation, not on subsites.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutor Team</name> 
            <email>support@atutorspaces.com</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>BSD</license> 
    <private>
        <subsite>multi2.atutorspaces.com</subsite>
    </private>
	<release> 
        <version>0.3</version> 
        <date>2014-03-31</date> 
        <state>stable</state> 
        <notes>Changes in this version are primarily the conversion from mysql to queryDB() database access, intended for use with ATutor 2.2+. Otherwise functionality is the same as that in the previous versions of this module.  See the module's README file for full details on using this module.</notes> 
    </release> 
</module>
